.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center; 
    width: 100%;
  }
  
  .input-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #666666;
  }
  
  .input-field {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-right: 30px; 
    flex: 1;
  }
  
  .end-content {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .input-icon {
    height: 30px; 
    width: 30px;
  }
  
  
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; /* Ajusta esto según tus necesidades */
}

.input-wrapper.invalid,
.input-field.invalid {
  border-color: red;
}

.error-container {
  height: 20px;
  width: 150px;
  margin-top: 70px;
  z-index: 100;
  position: absolute;
}

.error-message {
  color: red;
  font-size: 0.8em;
}