.reserveContainer{
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 30px;
    padding-top: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.reserveTitle{
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    font-style: bold;
    font-weight: 700;
    color: #006755
}

.input-group {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.button-save{
    margin-top: 7px;
    border: none;
    color:white;
    font-weight: 500;
    background-color: #00a98f;
    border-radius: 5px;
    width: 150px;
    height: 45px;
    cursor: pointer;
}
  
